    <header>
        <h1>Know about us</h1>
    </header>
    <div class="container">
        <h2>About Us</h2>
        <p>Company X is an IT company that has played a significant role in the technology industry since its inception. It was founded in 1995 by John Smith and Jane Johnson, two computer science graduates who shared a passion for innovative software solutions. The company started as a small start-up in a garage, with only a handful of employees and limited resources.

            In its early years, Company X focused on developing custom software applications for local businesses. They quickly gained a reputation for delivering high-quality solutions and outstanding customer service. This led to steady growth and an expanding client base.
            
            In the early 2000s, Company X recognized the growing demand for web-based applications and began shifting its focus towards web development and e-commerce solutions. They successfully adapted to the changing market and expanded their services to include website design, online marketing, and e-commerce platforms.</p>
    </div>


    <div class="container">
        <h2>Our Vision</h2>
        <p>Company X is an IT company that has played a significant role in the technology industry since its inception. It was founded in 1995 by John Smith and Jane Johnson, two computer science graduates who shared a passion for innovative software solutions. The company started as a small start-up in a garage, with only a handful of employees and limited resources.

            In its early years, Company X focused on developing custom software applications for local businesses. They quickly gained a reputation for delivering high-quality solutions and outstanding customer service. This led to steady growth and an expanding client base.
            
            In the early 2000s, Company X recognized the growing demand for web-based applications and began shifting its focus towards web development and e-commerce solutions. They successfully adapted to the changing market and expanded their services to include website design, online marketing, and e-commerce platforms.</p>
    </div>
    <footer>
        &copy; 2023 My Web Page. All rights reserved.
    </footer>
