<div class="services-list">
    <div class="service">

        <h3>IT Consulting</h3>
         <img src="/assets/images/image1.avif">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="service">

        <h3>Network Setup and Management</h3>
         <img src="/assets/images/image2.avif">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="service">

        <h3>Data Backup and Recovery</h3>
         <img src="/assets/images/image3.avif">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="service">
        <h3>Cloud Computing Services</h3>
        <img src="/assets/images/image6.avif">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="service">

        <h3>Cybersecurity Services</h3>
         <img src="/assets/images/image5.avif">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="service">

        <h3>Help Desk and Technical Support</h3>
         <img src="/assets/images/image4.avif">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="service">

        <h3>Software Development</h3>
         <img src="/assets/images/image7.webp">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="service">

        <h3>Software Development</h3>
         <img src="/assets/images/image7.webp">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

</div>


<footer>
    <p>&copy; 2023 Your Company. All rights reserved.</p>
</footer>